<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.jp.netwisdom.mapper.HobbyMapper">

     <insert id="save" >
         insert into hobby(username,hobby,delFlg) values(#{0},#{1},#{2})
     </insert>
     <update id="delHobby">
        update hobby set delFlg = '1' where username = #{0}
     </update>
</mapper>